@model WellBeings_NetCoreApp.Models.ContactViewModel
@{
    ViewData["Title"] = "Retailers";
}

<link rel="stylesheet"  type="text/css" href="~/css/retailers.css" />

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" style="margin-bottom: 10px;">
        <div class="card">
            <div class="google-maps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11581.440144945915!2d-80.5277749!3d43.4739562!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd224e64459372537!2sWilfrid%20Laurier%20University!5e0!3m2!1sen!2sca!4v1597310463832!5m2!1sen!2sca" frameborder="0" allowfullscreen="" style="border:0"></iframe>
            </div>
            <div class="card-block col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>Guelph Office</h4><br>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 card1">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                        <img src="~/images/callpng.png" style="height:50px; width:50px;" />
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                        <h4 style="margin:5px !important;">Mobile</h4>
                        <p><a href="tel:+15197221234">(519) 722-1234</a></p>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 card1">
                    <div class="col-md-5 col-sm-5 col-xs-5">
                        <img src="~/images/emailpng.png" style="height:50px; width:50px;" />
                    </div>
                    <div class="col-md-7 col-sm-7 col-xs-7">
                        <h4 style="margin:5px !important;">Email</h4>
                        <p><a href="mailto:info@reojeffi.ca">info@reojeffi.ca</a></p>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 card1">
                    <div class="col-md-5 col-sm-5 col-xs-5">
                        <img src="~/images/websitepng.png" style="height:50px; width:50px;" />
                    </div>
                    <div class="col-md-7 col-sm-7 col-xs-7">
                        <h4 style="margin:5px !important;">Website</h4>
                        <p><a href="http://www.reojeffi.ca/" target="_blank">www.reojeffi.ca/</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" style="margin-bottom: 10px;">
        <div class="card">
            <div class="google-maps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11581.440144945915!2d-80.5277749!3d43.4739562!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd224e64459372537!2sWilfrid%20Laurier%20University!5e0!3m2!1sen!2sca!4v1597310463832!5m2!1sen!2sca" frameborder="0" allowfullscreen="" style="border:0"></iframe>
            </div>
            <div class="card-block col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>Guelph Office</h4><br>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 card1">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                        <img src="~/images/callpng.png" style="height:50px; width:50px;" />
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                        <h4 style="margin:5px !important;">Mobile</h4>
                        <p><a href="tel:+15197221234">(519) 722-1234</a></p>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 card1">
                    <div class="col-md-5 col-sm-5 col-xs-5">
                        <img src="~/images/emailpng.png" style="height:50px; width:50px;" />
                    </div>
                    <div class="col-md-7 col-sm-7 col-xs-7">
                        <h4 style="margin:5px !important;">Email</h4>
                        <p><a href="mailto:info@reojeffi.ca">info@reojeffi.ca</a></p>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 card1">
                    <div class="col-md-5 col-sm-5 col-xs-5">
                        <img src="~/images/websitepng.png" style="height:50px; width:50px;" />
                    </div>
                    <div class="col-md-7 col-sm-7 col-xs-7">
                        <h4 style="margin:5px !important;">Website</h4>
                        <p><a href="http://www.reojeffi.ca/" target="_blank">www.reojeffi.ca/</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" style="margin-bottom: 10px;">
        <div class="card">
            <div class="google-maps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11581.440144945915!2d-80.5277749!3d43.4739562!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd224e64459372537!2sWilfrid%20Laurier%20University!5e0!3m2!1sen!2sca!4v1597310463832!5m2!1sen!2sca" frameborder="0" allowfullscreen="" style="border:0"></iframe>
            </div>
            <div class="card-block col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>Guelph Office</h4><br>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 card1">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                        <img src="~/images/callpng.png" style="height:50px; width:50px;" />
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                        <h4 style="margin:5px !important;">Mobile</h4>
                        <p><a href="tel:+15197221234">(519) 722-1234</a></p>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 card1">
                    <div class="col-md-5 col-sm-5 col-xs-5">
                        <img src="~/images/emailpng.png" style="height:50px; width:50px;" />
                    </div>
                    <div class="col-md-7 col-sm-7 col-xs-7">
                        <h4 style="margin:5px !important;">Email</h4>
                        <p><a href="mailto:info@reojeffi.ca">info@reojeffi.ca</a></p>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 card1">
                    <div class="col-md-5 col-sm-5 col-xs-5">
                        <img src="~/images/websitepng.png" style="height:50px; width:50px;" />
                    </div>
                    <div class="col-md-7 col-sm-7 col-xs-7">
                        <h4 style="margin:5px !important;">Website</h4>
                        <p><a href="http://www.reojeffi.ca/" target="_blank">www.reojeffi.ca/</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
