.google-maps {
    position: relative;
    padding-bottom: 5px;
    min-height: 300px;
    overflow: visible;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-block {
    padding: 5px;
}

.card {
    margin: 5px;
    margin-bottom: 5px;
    background-color: #0A215A;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.5s;
    border-radius: 5px;
    color: white;
    line-height: 50%;
}

.card-form {
    margin: 5px;
    padding: 5px;
    margin-bottom: 5px;
    background-color: #0A215A;
    border-radius: 5px;
    color: white;
}

.card1 {
    margin: 5px;
    margin-bottom: 5px;
    background-color: #0A215A;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.5s;
    border-radius: 5px;
    color: white;
    line-height: 50%;
    display: -webkit-box;
}

    .card1:hover {
        /*transform: scale(1.01);*/
        box-shadow: 0 8px 16px 0 RGB(10,33,90);
    }

.btn {
    background-color: #0A215A;
    color: white;
    transition-duration: 0.4s;
    border: 1px solid RGB(10,33,90);
    border-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 RGB(10,33,90);
}

    .btn:hover {
        background-color: #0A215A;
        color: #39FF00;
        border-color: #FFFFFF;
        box-shadow: 0 8px 16px 0 RGB(10,33,90);
    }

.alert {
    padding: 20px;
    background-color: #09681a;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

    .closebtn:hover {
        color: #0A215A;
    }

a, a:hover {
    color: #ffffff;
}
