.card-form {
    margin: 5px;
    padding: 5px;
    margin-bottom: 5px;
    background-color: #0A215A;
    border-radius: 5px;
    color: white;
}

.table {
    color: white;
}

#myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 99%;
    font-size: 16px;
    border: 1px solid #000000;
    margin: 5px;
    padding: 5px;
    margin-bottom: 5px;
    background-color: #0A215A;
    border-radius: 5px;
    color: white;
}

.btn1 {
    background-color: #0A215A;
    color: white;
    transition-duration: 0.4s;
    border: 1px solid RGB(10,33,90);
    border-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 RGB(10,33,90);
}

    .btn1:hover {
        background-color: #0A215A;
        color: #39FF00;
        border-color: #FFFFFF;
        box-shadow: 0 8px 16px 0 RGB(10,33,90);
    }
